.entity{
    position: absolute;
}
.entity__menu{
    display: none;
    position: absolute;
    transform: translate(-100%);
    padding-right: 5%;
}
.entity:hover .entity__menu{
    display: block;
}
.entity__graphic {
    width: 100%;
    height: 100%;
}

.entity__highlight {
    float: left;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: translate(-2px, -2px);
    border-radius: 0.5vh;
}