.card-entity{
    border: 2px solid black;
    border-radius: 0.5vh;
    box-sizing: border-box;
}
.card-entity__mouse-highlight{
    transition-duration: 50ms;
}

.card-entity__mouse-highlight:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px black;
}

.card-entity__mouse-highlight:active{
    transform: scale(1);
    box-shadow: none;
}

.card-entity__drag-highlight{
    transform: scale(1.07);
}