.table-viewport{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: gray;
    user-select: none;
}

.table-viewport__center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}