.entity-drawer{
    width: 100%;
    height: 100%;
}
.entity-drawer__content{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: bisque;
}

.entity-drawer__segment {
    padding: 5%;
    flex-grow: 1;
}

.remove-entity-zone{
    width: 100%;
    height: 100%;
    border: 1px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entity-drawer__deck{
    margin: 0 10px 10px 0;
    display: inline-block;
}